# Width and height
width = 400
height = 300

# If true, forces the usage of basic window instead of Layer Shell wayland protocol
force_window = false

# If unset, yofi window will be at the center of the screen
# window_offsets = [500, -50]

# corner radius
corner_radius = "0"

# font size
font_size = 16

# background color (0xRRGGBBAA format)
bg_color = 0x000000FF

# border color
bg_border_color = 0x6688CC

# border width
bg_border_width = 24.0

# font color
font_color = 0xDDDDDDFF

# HiDPI scaling factor
scale = 2

# terminal emulator
term = "alacritty -e"

# Input box
[input_text]
font_color = 0xFFAF10FF
bg_color = 0x222222FF

margin = "20"
padding = "10"

corner_radius = "0"

# Item's list
[list_items]
selected_font_color = 0xFFAF10FF

margin = "0 15 0 15"

action_left_margin = 0

item_spacing = 5
